body {
  font-family: 'Poiret One', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  max-width: 760px;
  padding: 24px;
  margin: 0 auto;
  color: black;
}

h1 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 100px;
  line-height: 120px;
  margin-top: 24px;
  margin-bottom: 0px;
  text-align: center;
}
h2 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 61px;
  line-height: 72px;
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: center;
}
h3 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 31px;
  line-height: 48px;
  margin-top: 24px;
  margin-bottom: 0px;
}
h4 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 0px;
}
h5 {
  font-family: inherit;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 0px;
}

p{
  text-align: center
  }


img {
    width: 100%;
    height: auto;
}
